[*.{cs,vb}]
dotnet_diagnostic.CS8305.severity = none  # Feature is for evaluation purposes only and is subject to change or removal in future updates.
dotnet_diagnostic.IL2026.severity = none  # Members attributed with RequiresUnreferencedCode may break when trimming
