[*.{cs,vb}]
dotnet_diagnostic.CA1816.severity = none  # Call GC.SuppressFinalize correctly
dotnet_diagnostic.CA1822.severity = none  # Mark members as static
dotnet_diagnostic.CA2254.severity = none  # Template should be a static expression
dotnet_diagnostic.CS0067.severity = none  # Event is never used
dotnet_diagnostic.CS8305.severity = none  # Feature is for evaluation purposes only and is subject to change or removal in future updates.
dotnet_diagnostic.CS8618.severity = none  # Non-nullable variable must contain a non-null value when exiting constructor. Consider declaring it as nullable.
dotnet_diagnostic.IL2026.severity = none  # Members attributed with RequiresUnreferencedCode may break when trimming
dotnet_diagnostic.IL2050.severity = none  # Correctness of COM interop cannot be guaranteed after trimming.
dotnet_diagnostic.IL2072.severity = none  # 'target parameter' argument does not satisfy 'DynamicallyAccessedMembersAttribute' in call to 'target method'.
dotnet_diagnostic.IL2075.severity = none  # 'this' argument does not satisfy 'DynamicallyAccessedMembersAttribute' in call to 'target method'.
